
{% extends 'base.html' %}
{% block body %}
	


<style>
    .Center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    img {
        border: 5px solid #55A;
        border-style
      
      }
    </style>

{% include 'appsmenu.html' %}  
<table style="border-collapse: collapse; width: 100.39%; height: 43px;" border="3">
<tbody>
<tr>
<td style="width: 100%;">
<h1>Product Title</h1>
</td>
</tr>
</tbody>
</table>

<div >
<p>&nbsp;</p>
<p><img  class="Center" src="https://www.imgacademy.com/themes/custom/imgacademy/images/helpbox-contact.jpg" width="921" height="320"/></p>
</div>


<hr />
<p style="text-align: center;">Product Rating : *****</p>
<p style="text-align: center;">Revews Rating : *****</p>
<hr />
<div style="background-color: red; color: blue;">
<h3 style="text-align: center; class="bg-primary">Specification</h3>
</div>
<hr />
<p style="text-align: left;">Pruduct : NameOf the Product&nbsp;</p>
<p style="text-align: left;">Type : Product Type</p>
<p style="text-align: left;">Brand : Brand Of the Product</p>
<p style="text-align: left;">Others Details :&nbsp;</p>
<hr />
<table style="border-collapse: collapse; width: 100.611%; height: 115px;" border="1">
<tbody>
<tr style="height: 10px;">
<td style="width: 50%; height: 10px; text-align: center;"><strong>&nbsp;Advanatages</strong></td>
<td style="width: 50%; height: 10px; text-align: center;"><strong>Dis advantages</strong></td>
</tr>
<tr style="height: 105px;">
<td style="width: 50%; height: 105px;">
<ol>
<li>Best Procust in Low Prise</li>
<li>Low cos&nbsp;</li>
<li>Value for Money&nbsp;</li>
<li>Shareable</li>
<li>10 yr waranty&nbsp;</li>
<li>&nbsp;</li>
</ol>
</td>
<td style="width: 50%; height: 105px;">
<ol>
<li>No replsment '</li>
<li>Normal glass</li>
<li>Camera 10 mp</li>
<li>Battry 10 mhs</li>
</ol>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<hr />
<h3 style="text-align: center;">Analogy</h3>
<hr />
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<h3 style="text-align: center;">Best Buy Link</h3>
<hr />
<p><a href="http://www.amazone.com" target="_blank">amazone</a> &nbsp;</p>
<p>&nbsp;</p>
<hr />
<h3 style="text-align: center;">Videos Review Links</h3>
<hr />
<p>&nbsp;</p>
<p><iframe src="//www.youtube.com/embed/tgbNymZ7vqY" width="420" height="315"></iframe></p>
<p>&nbsp;</p>
<hr />
<h3 style="text-align: center;">Similer Pruducts</h3>
<hr />
<h3>&nbsp;</h3>





{% endblock body %}