{% extends 'base.html' %}
{% block body %}



<!-- MENU Start
    ================================================== -->

	<nav class="navbar navbar-default">
		<div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div> <!-- End of /.navbar-header -->

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav nav-main">
		        	<li><a href="/">HOME</a></li>
					<li class="active"><a href="/blog">BLOG</a></li>
					<li><a href="/study">STADY</a></li>
					<li><a href="/comunity">COMUNITY</a></li>
					<li><a href="/media">MEDIA</a></li>
					<li><a href="/team">TEAM</a></li>
					<li><a href="/port">PORTFOLIO</a></li>
					<li class="dropdown">
						<a href="#">
							SERVICES
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						   <li><a  href="#">Build Web Site</a></li>
						    <li><a  href="#">Customize Softwere</a></li>
						    <li><a  href="#">System Management</a></li>
						    <li><a  href="#">Other Services</a></li>
						</ul>
					</li> <!-- End of /.dropdown -->

					
		        </ul> <!-- End of /.nav-main -->
		    </div>	<!-- /.navbar-collapse -->
		</div>	<!-- /.container-fluid -->
	</nav>	<!-- End of /.nav -->

<!-- Breadcrumbs Start
    ================================================== -->

	<section id="topic-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>POST</h1>
					<p>{{post.title}}</p>
				</div>	<!-- End of /.col-md-4 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of /#Topic-header -->






	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-9 clearfix">
					<ul class="blog-zone">
					    <li>
					        <div class="blog-icon">
					        	<i class="fa  fa-pencil"></i>
					        </div>
					        <div class="blog-box">
					        	<img src="/media/{{post.cover}}" alt="">
					            
					            <div class="blog-post-body clearfix">
						            <a href="">
					            		<h2>{{post.title}}</h2>
						            </a>
					            	<div class="blog-post-tag">
						            	<div class="block">
						            		<i class="fa fa-clock-o"></i>
						            		<p>{{post.date}}</p>
						            	</div>
						            	<div class="block">
						            		<i class="fa fa-user"></i>
						            		<p>{{post.author}}</p>
						            	</div>
						            	<div class="block">
						            		<i class="fa fa-comments"></i>
						            		<p>{{comments.count}} Comments</p>
						            	</div>
						            </div>
						            {{post.content | safe}}
						            
					                
					            </div>
					        </div>
					    </li>
					</ul>	<!-- End of /.blog-zone -->

					<div class="author-id">
						<div class="media">
							<h5>About The Author</h5>
						  	<img class="media-object pull-left" src="/static/images/author.jpg" alt="...">
						  	<div class="media-body">
						    	<h6 class="media-heading">John Mark</h6>
						    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis veniam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, veritatis.</p>
						    </div>	<!-- End of /.media-body -->
						</div>	<!-- End of /.media -->
					</div>	<!-- End of /.author-id -->

					<div class="comments-box">
						<h5>{{comments.count}} REPSONSES</h5>

						{% for comment in comments%}
						{% if post.author == comment.name%}
						<div class="media">
						  	<img class="media-object pull-left" src="/static/assets/png/author-writing.png" alt="author-writing">
						  	<div class="media-body">
						    	<h6 class="media-heading">{{comment.name}}<span>{{comment.date}}</span> </h6>
						    	<p>{{comment.comment}}</p>
						    </div>	<!-- End of /.meida-body -->
						</div>	<!-- End of /.media -->
						{% else %}
						
						<!-- reply -->
						<div class="media reply">
						  	<img class="media-object pull-left" src="/static/assets/png/public-ask.png" alt="public-ask">
						  	<div class="media-body">
						    	<h6 class="media-heading">{{comment.name}}<span>{{comment.date}}</span></h6>
						    	<p>{{comment.comment}}</p>
						    </div>
						</div>
						{% endif%}
						
						{% endfor %}
						
					</div>	<!-- End of /.comments-box -->
					
					<div class="leave-comment">
						<h5>LEAVE A COMMENT</h5>
						<form class="form-horizontal" role="form" method="POST">{% csrf_token %}
							<div class="form-group">
						    	<label for="inputname" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-10">
							      	<input type="text" class="form-control" id="inputname" placeholder="Name" name='name'>
							    </div>
						  	</div>	<!-- End of /.form-group -->
						  	<div class="form-group">
						    	<label for="inputEmail" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-10">
							      	<input type="email" class="form-control" id="inputEmail" placeholder="Email" name='email'>
							    </div>
						  	</div>	<!-- End of /.form-group -->
				
						  	<div class="form-group">
						    	<label for="inputmessage" class="col-sm-2 control-label">Message</label>
							    <div class="col-sm-10">
							      	<textarea class="form-control" id="inputmessage"  rows="3" name='comment'></textarea>
							    </div>
						  	</div>	<!-- End of /.form-group -->
						  		
							<div class="form-group">
						    	<div class="col-sm-offset-2 col-sm-10">
						      		<button type="submit" class="btn btn-primary">Send</button>
						    	</div>
						  	</div>	<!-- End of /.form-group -->
						</form>	<!-- End of /.form-horizontal -->
					</div>	<!-- End of /.leave comments -->
				</div>	<!-- End of /.col-md-9 -->

				<div class="col-md-3">
					<div class="blog-sidebar">
						{% if category%}
						<div class="block">
							<h4>Catagories</h4>
							<div class="list-group" >
								{% for cat in category %}
								<a href="/blog/category/{{cat.category}}/" class="list-group-item" >
									<i class="fa  fa-dot-circle-o"></i>
									{{cat.category}}
								</a>
								{% endfor%}
							
								
							</div>
						</div>	<!-- End of /.block -->
						{% endif%}

						{% if pposts%}
						<div class="block">
							<h4>Latest Posts</h4>
							<ul class="media-list">
								{% for post in pposts%}
							 	<li class="media">
							    	<a class="pull-left" href="#">
										{%if post.cover%}
							      		<img class="media-object" src="/media/{{post.cover}}" alt="{{post.title}}">
										{% else%}
										<img class="media-object" src="/static/assets/png/default-post.png" alt="arrashid">
										{%endif%}
							    	</a>
							    	<div class="media-body">
							      		<a href="/blog/post/{{post.id}}" class="media-heading">
							      			{{post.title}}</a>
							    	  	<p>{{post.date}}</p>
							    	</div>
							  	</li>	<!-- End of /.media -->
								{%endfor%}
							</ul>	<!-- End of /.media-list -->
						</div>	<!-- End of /.block -->
						{% endif%}


						{% if tags%}
						<div class="block">
							<h4>Tag Cloud</h4>
							<div class="tag-link">
								{% for tag in tags %}
								<a href="/blog/tag/{{tag.name}}">{{tag.name}}</a>
							{% endfor%}
							</div>	
						</div>	<!-- End of /.block -->
						{% endif%}
					</div>	<!-- End of /.Sidebar -->
				</div>	<!-- End of /.col-md-3 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section> <!-- End of /.Section -->






{% endblock body %}